.account {
    width: 100vw;
    height: 100vh;
    background-color: #282828;
}
.form-wrap {
    width: 285px;
    margin: auto;
    padding-top: 300px;
    color: #fff;
    label {
        display: block;
        font-size: 14px;
        color: #fff;
    }
}
