i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.svg-class {
    width: 1em;
    height: 1em;
    fill: currentColor;
}
/* svg 图标尺寸 */
.aside-svg {
    margin-bottom: -4px;
    margin-right: 3px;
    font-size: 20px;
}
.header-menu-svg {
    margin: 0 8px -2px 0;
    color: #ccc;
    font-size: 20px;
    vertical-align: top;
}
/* png图标尺寸 */
.icon-size-21 { width: 21px; height: 21px; }
.icon-size-30 { width: 30px; height: 30px; }
/* 偏移*/
.mb--5 { margin-bottom: -5px; }
/* 图标 */
.icon-aside-home { background-image: url("~@/assets/icon/aside-home.png"); }
.icon-aside-console { background-image: url("~@/assets/icon/aside-console.png"); }
.icon-aside-informtion { background-image: url("~@/assets/icon/aside-informtion.png"); }
.icon-aside-product { background-image: url("~@/assets/icon/aside-product.png"); }
.icon-aside-user { background-image: url("~@/assets/icon/aside-user.png"); }