@import "normalize.scss";
@import "icon.scss";
@import "antdesignvue.scss";

// color
.color-white { color: white; }

// font-size
.fs-12 { font-size: 12px; }

// text-align
.text-center { text-align: center; }